<%= debug(params) if Rails.env.development? %>
<!-- footer content -->
<footer>
  <div class="pull-right">
    Elitebox 2017
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
