<!DOCTYPE html>
<html lang="pt">
  <head>
    <%= render 'partials/head' %>
  </head>

  <body class="login">
		<div class="login_wrapper">
			<%= yield %>
      <%= javascript_include_tag 'application' %>
		</div>
  </body>
</html>
